@page
@model LinksModel
@{
    ViewData["Title"] = "My Links";
}

<div class="text-center">
    <h1 class="display-4">Social Links</h1>

    <a data-pin-do="embedUser" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.co.uk/noisyvoltuk/"></a>
    
</div>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
