@page

@using noisysiteapp.sitedata;

@model BlogRollModel
@{
    ViewData["Title"] = "Blog roll";
}

<p>list of embeds with bits of text between<p>

date ordered for now 

@foreach (Embed item in Model.Embeds){
    <p>@item.Id</p>
}