@page


@model WatchModel
@{
    ViewData["Title"] = "Watch";
}

<h3>Watch music videos - links players and feeds</h3>
@section LeftCol{
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLaI7sRXieN23Z6eoJQnSJobzZP80ze8Mx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}

@section RightCol {
    right
}
